body {
  margin: 0;
  padding: 0;
}

.App {
  position: absolute;
  top: 0;
  left: 0dvw;
  right: 0dvw;
  bottom: 0;
  width: 100dvw;
  height: 100dvh;
}

.crop-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20dvh;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  height: 20dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

